<h1> All posts </h1>
<hr color = "#AAA" >
<% @post.each do |post| %>
  <p>
  <div class="container">
      <h3 class="cover-heading"> <%=post.title%> </h3>
      <h3 class="lead"> <%=post.body%> </h3>
      <%=link_to "Show all",post_path(post),:class => 'btn btn-outline-secondary'%>
   </div>
   </p>
   <hr color = "#AAA">
<%end%>
