<h1><%= @post.title %></h1>
<h4><%= @post.body %></h4>
<hr color="#fff">

  <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-outline-light' %>
  <%= link_to "Delete", post_path(@post),method: :delete, data:{confirm: "Are you sure you want to delete this post?"}, :class => 'btn btn-outline-light' %>
<hr color="#fff">
<div class="container">
<h1> Comments: </h1>
<% @post.comments.each do |comment| %>
  <div class="inner cover">
    <p><strong><%= comment.username %>:</strong> <%= comment.Body %> </p>
  </div>
<%end%>
<hr color="#fff">
<h4>Add comment</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    Username<br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Text<br>
    <%= f.text_area(:Body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Submit",{:class => 'btn btn-lg btn-secondary'})%>
  </p>
<%end%>
</div>
