<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://getbootstrap.com/docs/4.5/examples/cover/cover.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="D:\RubyProject\Blog\app\views\layouts\application.css">

  </head>

  <body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand font-weight-bold">My Simple Blog</h3>
      <nav class="nav nav-masthead justify-content-center">
        <span class="nav-link"><%= link_to "Home", home_path%></span>
        <span class="nav-link"><%= link_to "Posts", new_post_path%></span>
        <span class="nav-link"><%= link_to "Contacts", about_path%></span>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <%= yield %>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Blog sample, by <a href="https://www.instagram.com/vanyashelemba/">@Shelemba_Ivan</a>.</p>
      <p>2020</p>
    </div>
  </footer>

  </body>
</html>
