<!DOCTYPE html>
<html>
  <body class="text-center">

  <main class="mastfoot mt-auto">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <img height = "400" class="mr-3" src="https://instagram.fudj1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/80594113_624647878106050_1372897378902048628_n.jpg?_nc_ht=instagram.fudj1-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=HYlMa9ZX_f4AX9nbYgr&oh=e7e5f57decfc3a8026c7cd12e26404a6&oe=5EFA36B1" alt="Generic placeholder image">
 <p>Ivan Shelemba PZ-22</p>
  </div>
  <hr color = "#AAA">

  </main>

  </body>
</html>
